<!-- :: All Navbar -->
<header class="all-navbar home-2">
    <!-- :: Navbar -->
    <nav class="nav-bar">
        <div class="container">
            <div class="content-box d-flex align-items-center justify-content-between">
                <div class="logo">
                    <a class='logo-nav' href='index.html'>
                        <img class="img-fluid one" src="assets/images/logo/tki_logo.png" alt="TKI Logo">
                        <img class="img-fluid two" src="assets/images/logo/tki_logo.png" alt="TKI Logo">
                    </a>
                    <a href="#open-nav-bar-menu" class="open-nav-bar">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
                <div class="nav-bar-links" id="open-nav-bar-menu">
                    <ul class="level-1">
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1 color-active">Home</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='index.html'>Home Main</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_home.html'>Home Modern</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='03_home.html'>Home Classic</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1">About Us</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_about-us.html'>About Us 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_about-us.html'>About Us 2</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='03_about-us.html'>About Us 3</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_team.html'>Team 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_team.html'>Team 2</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_single-team.html'>Team Details</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_testimonial.html'>Testimonial 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_testimonial.html'>Testimonial 2</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1">Services</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_services.html'>Services 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_services.html'>Services 2</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='03_services.html'>Services 3</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_single-services.html'>Services Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1">Projects</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_projects.html'>Projects 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_projects.html'>Projects 2</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='03_projects.html'>Projects 3</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_single-projects.html'>Projects Details</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1">Blog</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_blog.html'>Blog Grid</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_blog.html'>Blog Grid Sidebar</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='03_blog.html'>Blog Standard</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_single-blog.html'>Single Blog</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1 has-menu">
                            <a href="#" class="link-level-1">Page</a>
                            <ul class="level-2">
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_request-quote.html'>Request Quote 1</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='02_request-quote.html'>Request Quote 2</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_shop.html'>Shop</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_single-product.html'>Product Details</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_checkout-product.html'>Checkout Product</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_placed-order.html'>Placed Order</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_bill-product.html'>Bill Product</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='error-page.html'>Error Page</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_how-it-work.html'>How It Work</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_sponsors.html'>Sponsors</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_careers.html'>Careers</a>
                                </li>
                                <li class="item-level-2">
                                    <a class='link-level-2' href='01_faqs.html'>FAQs</a>
                                </li>
                            </ul>
                        </li>
                        <li class="item-level-1">
                            <a class='link-level-1' href='01_contact.html'>Contact</a>
                        </li>
                    </ul>
                </div>
                <ul class="nav-bar-tools d-flex align-items-center justify-content-between">
                    <li class="item">
                        <span class="search-icon open"><i class="fas fa-search"></i></span>
                    </li>
                    <li class="item phone">
                        <div class="nav-bar-contact">
                            <i class="ar-icons-phone"></i>
                            <div class="content-box">
                                <span>Phone Number</span>
                                <a href="tel:+23059424281">+(230) 5942 4281</a>
                            </div>
                        </div>
                    </li>
                    <li class="item">
                        <span class="menu-icon open"><i class="fas fa-list"></i></span>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>